<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMLcourse</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div class="wrapper">
    <header class="container">
        <!--<span class="logo">HTMLcourse</span>-->
        <nav>
            <ul>
                <li><a th:href="@{/reg}">Регистрация</a></li>
                <li>|</li>
                <li><a th:href="@{/login}">Авторизация</a></li>
            </ul>
        </nav>
    </header>

    <!-- Боковой панели навигации -->
    <div class="sidenav">
        <span class="logo"><a th:href="@{/}">HTMLcourse</a></span>
        <a th:href="@{/chapter/1}">Глава 1</a>
        <a th:href="@{/chapter/2}">Глава 2</a>
        <a th:href="@{/chapter/3}">Глава 3</a>
        <a th:href="@{/chapter/4}">Глава 4</a>
    </div>

    <!-- Содержимое страницы -->
    <div class="main">
        <h1>HTML</h1>
        <p>Большинство веб страниц, составляющих всемирную сеть, построены с помощью языка HTML. HTML – это язык разметки, который используется для создания и структурирования веб страниц. С помощью тегов он определяет в каком виде будут отображаться такие элементы веб страницы, как заголовки, списки, ссылки, изображения, параграфы и т.д., в браузере.  Главным преимуществом данного языка является то, что он задает одну общую структуру, благодаря которой страница отображается одинаково, вне зависимости от типа устройства, программы и платформы.</p>
        <p>Главная особенность, которая позволила HTML стать главный языком веб-разработки это то, что при создании сайта разработчик опирается не на содержание страницы, а на смысловое предназначение каждого блока и логическую структуру.</p>
        <p>Также стоит отметить, что данный подход к построению страниц, позволяет скринридеру лучше обрабатывать текст для зачитывания, таким образом HTML позволяет большему количеству пользователь взаимодействовать с вашим сайтом.</p>
        <p>Еще большее количество пользователей может перейти на ваш сайт через поисковой браузер. Хотя неизвестны точные критерии ранжирования ссылок, но установлено, что наличие семантической разметки помогает браузеру, как и скринридеру, лучше анализировать контент на странице, следовательно, повлиять на место страницы в поисковой выдаче. Для примера можно использовать любой туристический запрос. При поиске билетов, в большинстве случаев в поисковом запросе будет отображаться таблица с расписанием транспорта, благодаря тому, что разработчики данного ресурса использовали тег table вместо div, благодаря чему их платформа будет иметь больше возможностей для привлечения клиентов. Следовательно, мы можем сделать вывод, что структурирование информации делает ее более ценной, так как она становится доступной более широкому кругу пользователей.</p>
    </div>
</div>
</body>
</html>